.catalogo-section{
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 20px;
  overflow: auto;
  min-height: 90vh;
}

.catalogo-panel{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.modal-content{
  width: 80vw;
  height: 400px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  gap: 20px;
}

.modal-content > *{
  flex: 1 1 100%;
}

.modal-content > strong{
  text-align: center;
}

.form{
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}

.catalogo-input{
  padding: 15px;
}

@media (max-width:300px){
  .modal-content{
    width: 80vw;
    overflow: auto;
  }

  #new-product-form > *{
    padding: 10px;
    font-size: 12px;
  }
}

@media (min-width:650px){
  .floating-button{
    position: initial;
  }

  .modal-content{
    align-content: space-around;
    width: 400px;
    height: 500px;
    padding: 20px;
  }
}