.landing-image{
  width: 400px;
}

.landing-section{
  align-items: center;
  min-height: 85vh;
  flex-wrap: wrap-reverse;
}

.landing-text{
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding: 10px;
}

.second-section{
  background-color: rgb(244, 241, 247);
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
}

.section-text{
  padding: 30px 0px;
}

.section-list li{
  margin: 20px 0px;
}

.img-container{
  display: flex;
  justify-content: center;
}

@media (min-width:800px){
  .landing-image{
    width: 500px;
  }
}

@media (min-width:1200px){
  .landing-image{
    width: 600px;
  }
}