/*#8C4218*/

::selection{
  background: rgb(183, 182, 182);
}

:root{
  --darker:#4D47C3;
  --primary:#6C63FF;
  --lighter:#A7A3FF;
  --violet-white:#F0EFFF;
}

*{
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  margin: 0;
}

h1{
  margin: 0;
}

.title{
  font-size: 56px;
  font-weight: 900;
}

.normal-text{
  font-size: 20px;
  font-weight: 600;
  color: rgb(71, 71, 71);
}

.anchor, .button{
  text-decoration: none;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px grey;
  font-weight: 500;
  font-size: 16px;
}

.anchor-primary, .button-primary{
  background-color: var(--primary);
  color: white;
}

.anchor-secondary, .button-secondary{
  background-color: var(--violet-white);
  color: var(--darker);
}

.section-title{
  font-size: 36px;
  font-weight: 900;
}

.wrapper{
  display: grid;
  grid-template: 80px 1fr 60px / 1fr;
  gap: 20px;
  background-color: white;
}

header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

header nav{
  display: flex;
  gap: 20px;
}

.page-section{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0px 30px;
}

footer{
  display: grid;
  place-content: center;
  background-color: var(--darker);
  color: white;
}

img{
  display: flex;
  max-width: 90%;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.text-input{
  outline: none;
  border: none;
  background-color: var(--violet-white);
  padding: 25px 15px;
  border-radius: 10px;
  color: #A7A3FF;
  font-size: 16px;
  font-weight: 600;
}

.text-input::placeholder{
  color: #A7A3FF;
  font-size: 16px;
  font-weight: 600;
}